.visitanos__text{
    z-index: 2 ;
    margin-top: 32px;
    max-width: 280px;
    height: 66px;
    text-align:center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0%;
  }

  @media screen and (max-width: 320px) {
    .visitanos__text{
      margin-top: 16px;
      max-width: 280px;
      height: 48px;
      font-size: 14px;
      line-height: 16px;
    }
  }
