.gallery__grid{
    width: 1184px;
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-template-columns: repeat(4,auto);
    grid-gap: 16px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    bottom: 0px;
  }

  @media screen and (max-width: 768px) {
    .gallery__grid{
      grid-template-rows: repeat(4,auto);
      grid-template-columns: repeat(2,auto);
    }
  }

  @media screen and (max-width: 320px) {
    .gallery__grid{
      grid-template-rows: repeat(8,auto);
      grid-template-columns: repeat(1,auto);
      grid-gap: 12px;
      
    }
  }