.places__criccieth-column-left{
    width: 100%;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 768px) {
    .places__criccieth-column-left{
      margin-top: 52px;
      height: 540px;
    }
  }

  @media screen and (max-width: 320px) {
    .places__criccieth-column-left{
      display: flex;
      align-items: center;
      margin-top: 16px;
      height: 1217px;
    }
  }