.places__kiev-author{
  margin-top: 8px;
  width: 456px;
  height: 22px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 0%;
}

@media screen and (max-width: 768px) {
  .places__kiev-author{
    width: 295px;
    height: 44px;
  }
}

@media screen and (max-width: 320px) {
  .places__kiev-author{
    width: 288px;
  }
}