.header__title{
    
    max-width: 62%;
    margin-top: 91px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 0.96;
    text-align: center;
    margin-bottom: 0%;
}

@media screen and (max-width: 768px) {
    .header__title{
        max-width: 720px;
        
    }
    
}

@media screen and (max-width: 320px) {
    .header__title{
        margin-top: 50.89px;
        max-width: 288px;
        height: 88px;
        font-size: 40px;
        line-height: 44px;
    }
  }