.places__berea-column-right{
  width: 100%;
  margin-top: 155px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .places__berea-column-right{
    margin-top: 47px;
    height: 640px;
  }
}

@media screen and (max-width: 320px) {
  .places__berea-column-right{
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 36px;
    height: 1189px;
  }
}